/*
Copyright 2011-2018 Berlin-Brandenburg Academy of Sciences and Humanities

This file is part of ediarum.BASE.edit.edit.

ediarum.BASE.edit is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ediarum.BASE.edit is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with ediarum.BASE.edit. If not, see <http://www.gnu.org/licenses/>.
*/

@import "corema-entities.css";

@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace telota "http://www.telota.de";


@font-face{
    font-family: "Fraktur";
    src:url("../fonts/UnifrakturMaguntia.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "XITS";
    src:url("../fonts/XITS-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}


@font-face{
    font-family: "XITS";
    src:url("../fonts/XITS-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "TextFont";
    src:url("../fonts/XITS-Italic.otf");
    font-weight: normal;
    font-style: italic;
}


@font-face{
    font-family: "XITS";
    src:url("../fonts/XITS-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "TextFont";
    src:url("../fonts/NotoSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}


@font-face{
    font-family: "TextFont";
    src:url("../fonts/NotoSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "TextFont";
    src:url("../fonts/NotoSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}


@font-face{
    font-family: "TextFont";
    src:url("../fonts/NotoSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "TextFont-italic";
    src:url("../fonts/NotoSans-Italic.ttf");
    font-weight: normal;
    size-adjust: 90%;
}

@font-face{
    font-family: "OtherFont";
    src: url("../fonts/NotoSerif-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}


@font-face{
    font-family: "OtherFont";
    src: url("../fonts/NotoSerif-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "OtherFont";
    src: url("../fonts/NotoSerif-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face{
    font-family: "OtherFont";
    src: url("../fonts/NotoSerif-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}



@font-face{
    font-family: "Mono";
    src: url("../fonts/NotoSansMono-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "Mono";
    src: url("../fonts/NotoSansMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}


/*

@font-face{
    font-family: "TextFont";
    src:url("../fonts/LibertinusSerif-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}


@font-face{
    font-family: "TextFont";
    src:url("../fonts/LibertinusSerif-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "TextFont";
    src:url("../fonts/LibertinusSerif-Italic.otf");
    font-weight: normal;
    font-style: italic;
}


@font-face{
    font-family: "TextFont";
    src:url("../fonts/LibertinusSerif-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "TextFont-italic";
    src:url("../fonts/LibertinusSerif-Italic.otf");
    font-weight: normal;
}


@font-face{
    font-family: "OtherFont";
    src: url("../fonts/LibertinusSans-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "OtherFont";
    src: url("../fonts/LibertinusSans-Italic.otf");
    font-weight: normal;
    font-style: italic;
}



@font-face{
    font-family: "OtherFont";
    src: url("../fonts/LibertinusSans-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

*/

TEI {
    padding: 1em;
    font-family: TextFont;
}

/* falls Lesekopie geöffnet beim Verweisprüfen */
TEI[telota|copy] {
    -oxy-editable: false;
    background-color: #E6EFF2;
    background-image: url('gfx/bg_readonly.png');
}

/* ################ teiHeader ############ */

teiHeader {
    padding: 0 0 1em 0;
    border-bottom: 1px #000000 solid;
    font-family: "TextFont";
    font-style: italic;

}

titleStmt {
    display: block;
    margin: 0 0 1em 0;
}

titleStmt title {
    -oxy-placeholder-content: "Titel";
    -oxy-display-tags: none;
    font-weight: bold;
    font-size: 1.75em;
}

titleStmt title idno {
    padding: 0 0.5em 0 0;
    -oxy-placeholder-content: "Briefnummer";
    -oxy-display-tags: none;
}

titleStmt title idno:after {
    content: ".";
}

titleStmt editor,
titleStmt respStmt {
    display: block;
    font-size: 0.8em;
}

extent{
    display: block;
}

extent::before {
    font-weight: bold;
    font-style: normal;
    content: "Umfang: ";
}

extent, measure {
    -oxy-display-tags: none;
}

measure::after {
    content: " " attr(type) ";";
}

measure {
    display: inline;
}



editorialStmt {
    display: block;
}

tagsDecl::before {
    font-weight: bold;
    font-style: normal;
    display: block;
    font-family: TextFont;
    content:"Deklarationen für die Darstellung von XML-Dateien";
}

tagsDecl, editorialDecl {
    margin-top: 2em;
    margin-bottom: 2em;
    background: lightgray;
}

tagsDecl {
    display: block;
    -oxy-foldable: true;
	-oxy-folded: true;
}

rendition::before {
    content: "#" attr("xml:id") " [" attr("scheme") "]:  ";
    font-weight: bold;
    font-style: normal;
    display: inline-block;
    font-family: TextFont;
    text-align: right;
    width: 10em;
}
rendition {
    margin-left: 2em;
    display: block;
    font-style: normal;
    font-family: monospace;
}

editor:after {
    content: "(Herausgeber)";
}

respStmt resp,
respStmt resp note {
    -oxy-display-tags: none;
}

respStmt note:before {
    content: "(";
}

respStmt note:after {
    content: ")";
}

titleStmt persName surname,
titleStmt persName forename {
    -oxy-display-tags: none;
}

persName addName {
    -oxy-display-tags: none;
}

persName addName:after {
    content: " = ";
    -oxy-display-tags: none;
}

titleStmt surname:after {
    content:",";
}

editionStmt {
    display: none;
}

publicationStmt {
    display: none;
}

sourceDesc,
msIdentifier {
    -oxy-display-tags: none;
}

sourceDesc:before {
    display: block;
}

sourceDesc msDesc {
    display: block;

}

sourceDesc msIdentifier:before {
    content: "Signatur: ";
    font-style: normal;
    font-weight: bold;
}
sourceDesc msIdentifier,
sourceDesc msContents {
    display: block;
    margin-bottom: 1ex;
}

sourceDesc msDesc * {
    -oxy-display-tags: none;
}

sourceDesc msDesc institution:after,
sourceDesc msDesc repository:after,
sourceDesc msDesc collection:after{
    content: " / ";
}

sourceDesc msDesc[rend="copy"] {
    content: "Abschrift: ";
}

sourceDesc msDesc[rend="concept"] {
    content: "Entwurf: ";
}

sourceDesc msDesc[rend="print-as-print"] {
    content: "Druck (als solcher): ";
}

sourceDesc msDesc[rend="notExtant"] {
    content: "Erschlossen";
}

sourceDesc msDesc[rend="manuscript"] {
    content: "Handschrift: ";
}

sourceDesc msDesc[rend="print"] {
    content: "Nur Druckzeuge vorhanden.";
}

sourceDesc msDesc idno {
    -oxy-placeholder-content: "Signatur";
}

sourceDesc msDesc idno[type='uri']:before {
    content: "\A URI: ";
}

sourceDesc msDesc physDesc p {
    display: block;
    -oxy-placeholder-content: "[Hier Papier, Format etc. eintragen]";
}

p {
    -oxy-placeholder-content: "[Absatz]";
}
p::after {
    content: "¶";
}

sourceDesc msDesc physDesc:before {
    content: "Handschriftenbeschreibung: ";
    font-style: normal;
    font-weight: bold;
}

sourceDesc listWit witness {
    display: block;
}

sourceDesc witness msDesc[type='concept'] {
    content: "Entwurf: ";
}

sourceDesc witness msDesc[type='copy'] {
    content: "Abschrift: ";
}

sourceDesc witness>bibl {
    content: "D: ";
    -oxy-display-tags: none;
}

sourceDesc witness:nth-child(2)>bibl {
    content: "D2: ";
}

sourceDesc witness:nth-child(3)>bibl {
    content: "D3: ";
}

sourceDesc witness:nth-child(4)>bibl {
    content: "D4: ";
}

sourceDesc witness:nth-child(5)>bibl {
    content: "D5: ";
}

sourceDesc witness:nth-child(6)>bibl {
    content: "D6: ";
}

sourceDesc witness:nth-child(7)>bibl {
    content: "D7: ";
}

sourceDesc witness:nth-child(8)>bibl {
    content: "D8: ";
}

sourceDesc witness:nth-child(9)>bibl {
    content: "D9: ";
}

sourceDesc witness[select='#this'] {
    font-weight: bold;
}


/* TEXTZEUGEN METADATEN */
listWit[n='textWitnesses']{
    -oxy-foldable: true;
    -oxy-folded: true;
    margin-top: 1em;
}

listWit[n='textWitnesses']:before{
    content: "Liste der Textzeugen";
}

listWit[n='textWitnesses'] listWit head,
listWit[n='textWitnesses'] listWit head title,
listWit[n='textWitnesses'] listWit witness,
listWit[n='textWitnesses'] title,
listWit[n='textWitnesses'] idno{
    -oxy-display-tags: none;
}

listWit[n='textWitnesses'] witness:first-child{
    margin-top: 0.5em;
}

/* #NA: nochmal anschauen
 * listWit[n='textWitnesses']:nth-child(2)>listWit[xml|id] {
    content: "TZG-2: ";
}*/


listWit[n='textWitnesses'] listWit:before{
    content: "\A Textzeugengruppe: ";
    display:block;
}

listWit[n='textWitnesses'] listWit witness{
    display:inline-block;
    margin-top: 15em;
}

listWit[n='textWitnesses'] listWit head:after{
    content: " --- "
}

listWit[n='textWitnesses'] listWit witness:after{
    content: ", ";
}

listWit[n='textWitnesses'] listWit witness:last-child:after{
    content: ".";
}

listWit[n='textWitnesses'] title{
    -oxy-placeholder-content:"kein Titel vergeben";
}

listWit[n='textWitnesses'] idno:before{
    content: " (Sigle: ";
}

listWit[n='textWitnesses'] idno:after{
    content: ")";
}



listWit[n='textWitnesses'] listWit witness{
    content: oxy_xpath(oxy_concat("string-join(//listWit[@n='textWitnesses']/witness[contains('",attr("corresp"),"',@xml:id)]/idno[@type='siglum']/string(), ' ')")) " ";
}

/* Creation */

text {
    border-top: 1px solid silver;
}

profileDesc creation:empty {
    -oxy-placeholder-content: '[Angaben zur Erstellung des Manuskripts über Menü "Allgemein" angeben]';
    display: block;
}


profileDesc creation date {
    display: block;
}

profileDesc creation persName,
profileDesc creation placeName,
profileDesc creation orgName,
profileDesc correspAction persName,
profileDesc correspAction placeName,
profileDesc correspAction orgName {
    display: block;
    -oxy-editable: false;
}

profileDesc creation date:before {
    content: "Datum: ";
    font-weight: bold;
    font-style: normal;
}

correspDesc date[when-custom],
profileDesc creation date[when-custom] {
    background-color: orange;
    content: oxy_textfield(edit,'@when-custom');
    -oxy-display-tags: none;
}

correspDesc date[when],
profileDesc creation date[when] {
    background-color: yellow;
    content: oxy_editor(type,datePicker,edit,'@when',format,'yyyy-MM-dd');
    -oxy-display-tags: none;
}

date[from] {
    background-color: #99999f;
    content: "<GENAU " oxy_editor(type,datePicker,edit,'@from',format,'yyyy-MM-dd') " bis " oxy_editor(type,datePicker,edit,'@to',format,'yyyy-MM-dd') ">  ";
    -oxy-display-tags: none;
}

date[when] {
    background-color: #99999f;
    -oxy-placeholder-content: "DATUM";
    content: "<DATUM " oxy_editor(type,datePicker,edit,'@when',format,'yyyy-MM-dd') ">";
}

date[notBefore] {
    background-color: #99999f;
    content: "<NICHT VOR " oxy_editor(type,datePicker,edit,'@notBefore',format,'yyyy-MM-dd') " und nicht nach " oxy_editor(type,datePicker,edit,'@notAfter',format,'yyyy-MM-dd') ">  ";
    -oxy-display-tags: none;
}


profileDesc creation persName:before {
    content: "Ersteller: ";
}

profileDesc creation placeName:before {
    content: "Erstellungsort: ";
}

profileDesc creation persName:after,
profileDesc creation placeName:after {
    content: url('gfx/link.png');
}

/* Abstract (Regest) */
physDesc,
creation,
correspDesc,
profileDesc abstract,
correspDesc note,
profileDesc textClass {
    display: block;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 1px solid silver;
}

profileDesc abstract:before {
    display: block;
    content: "Regest: ";
    font-weight: bold;
    font-style: normal;
    font-family: TextFont;
}

profileDesc abstract p {
    display: block;
    -oxy-placeholder-content: "[Regest hier eingeben]"
}


note quote,
abstract quote {
    font-family: TextFont;
    -oxy-display-tags: none;
}

note quote:before,
abstract quote:before {
    content: "„";
}

note quote:after,
abstract quote:after {
    content: "“";
}

/* Anmerkungen zum Text */
notesStmt note:before {
    content: "Anmerkungen zum Text";
    font-weight: bold;
}

notesStmt note p {
    display: block;
    -oxy-placeholder-content: "[Text hier eingeben]";
}

notesStmt {
    display: block;
    margin: 1em 0 1em 0;
    padding: 1em 0 1em 0;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

/* correspondence description */

correspAction[type="sent"] {
    display: block;
    -oxy-placeholder-content: '[Absenderangaben über Menü "Briefmetadaten" eintragen]';
}

correspAction[type="received"] {
    display: block;
    -oxy-placeholder-content: '[Empfängerangaben über Menü "Briefmetadaten" eintragen]';
}


correspAction[type='sent'] persName:before {
    content: "Absender: ";
}

correspAction[type='received'] persName:before {
    content: "Empfänger: ";
}

correspAction[type='sent'] placeName:before {
    content: "Schreibort: ";
}

correspAction[type='received'] placeName:before {
    content: "Empfangsort: ";
}

correspAction[type='sent'] date:before {
    content: "Schreibdatum: ";
}

correspAction[type='received'] date:before {
    content: "Empfangsdatum: ";
}

correspContext ref {
    display: block;
}

correspContext ref[target] {
    color: #465E7A;
}


correspContext ref[type="prev"][target] {
    content: "Vorangehender Brief";
}

correspContext ref[type="next"][target] {
    content: "Nachfolgender Brief";
}

correspContext ref[type="prev"],
correspContext ref[type="prev"][target^="http://"] {
    content: "Vorangehender Brief: ";
}

correspContext ref[type="next"],
correspContext ref[type="next"][target^="http://"] {
    content: "Nachfolgender Brief: ";
}

correspContext ref[target]::after {
    content: " " url('gfx/link.png');
    link: oxy_url('${ediarum_website_base}', '${ediarum_website_path}${ediarum_website_letter}') "?id=" attr(target);
}

correspContext ref[target^="http://"]::after,
correspContext ref[target^="https://"]::after {
    content: " " url('gfx/link.png');
    link: attr(target);
}
ref[target^="http://"]::after, ref[target^="https://"]::after {
    content: " " url('gfx/link.png');
    link: attr(target);
}
idno[type="URLCatalogue"],
ref[target^="http://"], ref[target^="https://"] {
    -oxy-display-tags: none;
    color: blue;
}

ref[target^="http://"], ref[target^="https://"] {
    link: attr(target);
}


idno[type="URLCatalogue"]::after {
    content: " " url('gfx/link.png');
    link: oxy_xpath("./string()");
}

idno[type="URLCatalogue"] {
    link: oxy_xpath("./string()");
}

/* Anmerkungen zum Brief */
correspDesc note:before:first-of-type {
    display: block;
    content: "Anmerkungen zum Brief:";
    font-weight: bold;
}

correspDesc note {
    display: block;
    -oxy-placeholder-content: "[Hier Anmerkungen zum Brief oder zur Datierung eingeben]";
    -oxy-show-placeholder: always;
}

correspDesc note:not(:first-of-type) {
    border: 0;
    margin: 0;
    padding: 0;
}

msDesc[rend="notExtant"] msIdentifier {
    display: none;
}

text body div[type="regestOnly"] {
    display: block;
    -oxy-editable: false;
    content: "[Kein Text, nur Regest möglich]";
}

text body div[type="envelope"]::before {
    content: "Umschlag:";
    font-size: 125%;
    font-weight: bold;
    padding-bottom: 1em;
}

text body div[type="envelope"] {
    padding: 1ex;
    display: block;
    border:#000000 solid;
}

/* ############## text ################# */

/* text structure */

text body {
    position: relative;
    display: block;
}

text head {
    display: block;
    margin: 0 0 1em 0;
}

text head[type="h1"] {
    font-size: 1.4em;
    font-weight: bold;
}

text head[type="h2"] {
    font-size: 1.2em;
    font-weight: bold;
}

text head[type="h3"] {
    font-size: 1.2em;
}

text p,
text lg[type="verse"] {
    display: block;
    margin: 0 0 1em 0;
}

text p[rend="align(center)"]{
    text-align: center;
}

text p[rendition="#mMM"] {
    border-left: 3px solid black;
    padding-left: 0.5em;
}

text p[rendition="#et"], text list[rendition="#et"] {
    padding-left: 1em;
}

text p[rendition="#et2"], text list[rendition="#et2"] {
    padding-left: 2em;
}

text p[rendition="#et3"], text list[rendition="#et3"] {
    padding-left: 3em;
}

text p[rendition="#parindent"]{
    text-indent: 1em;
}

text lb {
    display: inline;
    -oxy-display-tags: none;
}

text lb:before {
    content: "\A";
    white-space: pre-line;
}

text g[ref="#typoHyphen"] {
    content: "-";
    -oxy-display-tags: none;
}

/* see <br> in http://www.w3.org/TR/CSS2/sample.html */

text lg lg,
text lg lg l {
    display: block;
}

list,
list item {
    margin-left: 1ex;
    display: block;
    -oxy-display-tags: none;
    /* list-style-type:lower-alpha; */
}
list item{
    text-indent: -1em;
}


teiHeader list item:not([n])::before {
    display: inline-block;
    content: "•";
    width: 1em;
    font-weight: bold;
}

list item[n]::before {
    content: attr(n) ") ";
}

list label {
    display: inline-block;
    width: 5em;
    margin-right: 1ex;
}

list label + item {
    display: inline-block;
}

list {
    margin: 1em 0 0 1em;
}

/* text space {
    content: "   ";
    border-bottom: 1px dotted gray;
    -oxy-display-tags: none;
} */

text space {
    vertical-align: baseline; position: relative; top: -.25em;
    content: " Lücke: " attr(quantity) " " attr(unit) " ";
    font-family: Mono;
    font-size: 85%;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    -oxy-display-tags: none;
}

text pb,
text cb {
    background-color: lightgray;
    border-top: #000000;
    border-bottom: #000000;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    font-family: Mono;
    content: "neue Seite ";
    padding: 0;
    color: black;
    -oxy-display-tags: none;
    display: block;
    font-weight: bold;
    text-align: center;
}

text cb {
    border-left: #000000;
    border-style: double;
    content: "neue Spalte ";
}

text pb[n]:after,
text cb[n]:after {
    content: "(" attr(n) ")";
    font-family: "TextFont";
    font-style: italic;
    color: gray;
}

text pb[facs]:after {
    content: "(folio)";
    font-family: "TextFont";
    font-style: italic;
}

text pb[n][facs]:after {
    content: "(" attr(n) ")";
    font-family: "TextFont";
    font-style: italic;
}

text pb[facs]:after {
    link: url(attr(facs));
    color: #6998BC;
}

fw {
    font-style: italic;
    color: gray;
    -oxy-display-tags: none;
    display: block;
    padding-right: 1ex;
}

fw[type=folNum]:before {
    font-style: normal;
    content: "("
}

fw[type=catch]:after {
    font-style: normal;
    content: "]"
}
fw[type=catch]:before {
    font-style: normal;
    content: "["
}

fw[type=folNum]:after {
    font-style: normal;
    content: ")"
}

fw[type="folNum"]{
    text-align: center;
}

fw[type="catch"]{
    text-align: right;
}

text figure {
    display: block;
    margin: 0 0 0 2em;
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Zeichnung o.ä.]";
}

text figure[facs] {
    width: 250px;
    content: url(oxy_base-uri()'${ediarum_projects_directory}${ediarum_project_name}/data/${ediarum_image_directory}/' attr(facs));
}


text figure[type=placeholder] {
    background-color: #00C6FF;
    text-align: center;
    display: inline-block;
}

text figure[type=placeholder] figDesc::before {
    content: "{{";
}
text figure[type=placeholder] figDesc::after {
    content: "}}";
}

text figure head {
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Überschrift der Abbildung]";
}

text figure[type=placeholder] > p {
    -oxy-placeholder-content: "[Hier die Bildunterschrift des Autors oder den Text, z.B. von Stempeln, eingeben.]";
    -oxy-show-placeholder: always;
}

text figure > figDesc {
    display: block;
    font-style: italic;
    -oxy-placeholder-content: "[Bildbeschreibung durch den Bearbeiter]";
    -oxy-show-placeholder: always;
}


text figure note {
    display: block;
    font-style: italic;
    -oxy-placeholder-content: "[Sacherläuterung zur Zeichnung bzw. Abbildung]";
    -oxy-show-placeholder: always;
}


/*  graphic DEPRECATED */
text graphic {
    content: oxy_url(attr(url));
    width: 300px;
    -oxy-display-tags: none;
}

text note {
    background-color: #e0e0e0;
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Anmerkung eingeben]";
    -oxy-show-placeholder: always;
}



text note[hand='#author']:after,
text note[hand='#addressee']:after {
    content: none;
    link: none;
}

text note:has(p) {
    display: block;
    margin-left: 1em;
}

text note p {
    display: block;
}

text metamark,
text metamark {
    content: "\23A1";
    -oxy-display-tags: none;
}

metamark[function="used"] {
    content: url('gfx/metamark_used_start.png');
    -oxy-display-tags: none;
}

anchor[type="used"] {
    content: url('gfx/metamark_used_stop.png');
    -oxy-display-tags: none;
}

milestone {
    margin-left: 50%;
    content: "―";
    -oxy-display-tags: none;
}

/* Correspondence */
dateline {
    display: block;
    -oxy-placeholder-content: "[Datumszeile]";
}

TEI[telota|doctype~="letter"]   opener:before,
TEI[telota|doctype~="document"] opener:before,
TEI[telota|doctype~="letter"]   closer:before,
TEI[telota|doctype~="document"] closer:before {
    content: "" oxy_combobox(
            edit, "@rend",
            editable, false,
            values, "paragraph,joint-following,joint-preceding",
            labels, "als eigener Absatz,übergehend in folgenden Absatz, übergehend in vorangehenden Absatz"
            );
}

TEI[telota|doctype~="letter"]   opener,
TEI[telota|doctype~="document"] opener,
TEI[telota|doctype~="letter"]   closer,
TEI[telota|doctype~="document"] closer {
    background-color: lightgray;
}


opener dateline {
    text-align: right;
}

opener salute {
    display: block;
    -oxy-placeholder-content: "[Anrede]";
}

closer salute {
    display: block;
    -oxy-placeholder-content: "[Gruß]";
}

signed {
    display: block;
    -oxy-placeholder-content: "[Unterschrift]";
}

/* Tables  */

table {
    display: table;
    margin: 1em 0 1em 0;
}
table > head{
    display:table-caption;
    font-family: "TextFont";
    font-style: italic;
    margin-bottom: 6pt;
}

row {
    display: table-row;
}

row[role='label'] {
    color: inherit;
    background-color: #aaa;
    font-weight: bold;
}

cell {
    display: table-cell;
    border: 1px dashed silver;
    padding: 3px;
    color: inherit;
    background-color:inherit;
}

table[rend='drawn'] cell {
    border: 1px solid silver;
}

cell[rendition='#right'], p[rendition='#right'] {
    text-align: right;
}

cell[rendition='#c'], p[rendition='#c'] {
    text-align: center;
}

cell[role='label'] {
    color: inherit;
    background-color: #bbb;
}

/* Authors editing */

quote subst,
text subst {
    -oxy-display-tags: none;
}

quote del,
text del {
    color: red;
    background-color: white;
    text-decoration: line-through;
    /* -oxy-display-tags: none; */
}

add::before {
    font: XITS;
    content: "√〈"
}
add::after {
    font: XITS;
    content: "〉"
}

quote add,
text add {
    vertical-align: baseline; position: relative; top: -.25em; font-size: 85%;
    color: green;
    /* -oxy-display-tags: none; */
    -oxy-placeholder-content: "[Hinzufügung]"
}

quote hi[rendition="#u"],
text hi[rendition="#u"] {
    text-decoration: underline;
    -oxy-display-tags: none;
}

quote hi[rendition="#uu"],
text hi[rendition="#uu"] {
    border-bottom: 1px solid #000;
    text-decoration:underline;
    -oxy-display-tags: none;
}

quote del hi[rendition="#u"],
text del hi[rendition="#u"],
quote hi[rendition="#u"] del,
text hi[rendition="#u"] del,
quote del hi[rendition="#uu"],
text del hi[rendition="#uu"],
quote hi[rendition="#uu"] del,
text hi[rendition="#uu"] del {
    text-decoration: line-through underline;
}

text hi[rendition="#mMM"] {
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    -oxy-display-tags: none;
}

hi[rendition="#sup"],
g[rendition="#sup"] {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    /* -oxy-display-tags: none; */
}

hi[rendition="#sub"],
g[rendition="#sub"] {
    position: relative;
    bottom: -0.5em;
    font-size: 0.7em;
    /* -oxy-display-tags: none; */
}

teiHeader hi[rendition="#i"],
quote hi[rendition="#i"],
text hi[rendition="#i"] {
  /* TODO: italic in italic (header, right) */
    font-style: italic;
    -oxy-display-tags: none;
}

quote hi[rendition="#fr"],
text hi[rendition="#fr"],
quote hi[rendition="#f"],
text hi[rendition="#f"] {
    font-family: Fraktur;
    -oxy-display-tags: none;
}

teiHeader hi[rendition="#b"],
quote hi[rendition="#b"],
text hi[rendition="#b"] {
    font-weight: bold;
    -oxy-display-tags: none;
}

teiHeader hi[rendition="#g"],
quote hi[rendition="#g"],
text hi[rendition="#g"] {
    letter-spacing:0.125em;
    -oxy-display-tags: none;
}

head[rendition='#c'] {
    text-align: center;
}

/* Publishers editing */
quote supplied,
text supplied {
    font-family: "TextFont";
    font-style: italic;
    background-color: #e0e0e0;
}

quote supplied:before,
text supplied:before  {
    content: "[";
    font-style: normal;
}

quote supplied:after,
text supplied:after {
    content: "]";
    font-style: normal;
}


text supplied[cert="low"]:before {
    content: "zu ergänzen wohl [";
    font-family: "TextFont";
    font-style: italic;
    color: gray;
}

quote surplus,
text surplus {
    text-decoration: line-through;
    color: #395B8C;
}

quote choice,
text choice {
    -oxy-display-tags: none;
}

quote choice sic,
quote choice orig,
text choice sic{
    text-decoration: line-through;
    text-decoration-color: #FF0000;
    text-decoration-style: wavy;
}
quote choice sic,
quote choice orig,
text choice sic,
text choice orig,
quote choice abbr,
text choice abbr {
    background-color: #FFDDDD;
    /* -oxy-display-tags: none; */
}

reg:before, expan:before {
    content: "[= ";
    font-style: normal;
}
reg:after, expan:after {
    content: "]";
    font-style: normal;
}

quote choice corr,
quote choice reg,
text choice corr,
text choice reg,
quote choice expan,
text choice expan {
    font-style: italic;
    background-color: #E8FFDD;
    /* -oxy-display-tags: none; */
    -oxy-placeholder-content: "[Normalisierte Schreibung]";
}

quote choice corr,
text choice corr {
    -oxy-placeholder-content: "[Korrigierte Schreibung]";
}

quote corr[type="deleted"],
text corr[type="deleted"] {
    content: "[gelöscht]";
    font-style: italic;
    color: green;
}

quote choice abbr,
text choice abbr {
    background-color: #e0e0e0;
}


quote choice expan,
text choice expan {
    background-color: #E8FFDD;
    -oxy-placeholder-content: "[Aufgelöste Schreibung]";
}

quote unclear,
text unclear {
    background-color: #FFA100;
    color: #444444;
    padding-left: .4ex; padding-right: .4ex;
    -oxy-placeholder-content: "";
    /* -oxy-display-tags: none; */
}

quote gap,
text gap {
    background-color: #FF0000;
    color: #FFFFFF;
    padding-left: .4ex; padding-right: .4ex;
    -oxy-placeholder-content: "";
    font-size: 80%;
    /* -oxy-display-tags: none; */
}
quote gap:after,
quote unclear:after,
text gap:after,
text unclear:after {
    /* background-color: #FFA100; */
}

quote gap,
text gap {
    /* content: attr(quantity); */
    -oxy-editable: false;
}
quote gap:after,
text gap:after {
    /* content: " " attr(unit); */
    font-size: 50%;
    display: inline-block;
}
gap[unit="chars"] {
  display: inline-block;
  content: oxy_xpath("for $i in 1 to @quantity return '?'");
  minwidth: oxy_concat(attr(quantity), "ex");
}
gap[unit="words"] {
  display: inline-block;
  width: oxy_concat(attr(quantity), "0ex");
}
gap[unit="em"] {
  display: inline-block;
  width: oxy_concat(attr(quantity), "em");
}
gap[unit="lines"] {
  display: block;
  content: oxy_concat(attr(quantity), " Zeilen unlesbar");
  height: oxy_concat(attr(quantity), "em");
}
gap[unit="pages"] {
  display: block;
  content: oxy_concat(attr(quantity), " Seiten unlesbar");
}


text damage {
    -oxy-display-tags: none;
    font-style: italic;
}

text damage:empty {
    -oxy-display-tags: none;
    content: "Schadhafte Stelle";
}

text damage:before {
    content: "[";
}

text damage:after {
    content: "]";
}

quote ex,
text ex {
    font-family: "TextFont";
    font-style: italic;
    -oxy-display-tags: none;
}

text foreign {
    font-family: "DejaVu Serif", "TextFont";
    font-size: 0.8em;
    -oxy-display-tags: none;
    background-color: #e0e0e0;
}

text hi[rendition="#aq"] {
    font-family: OtherFont;
    -oxy-display-tags: none;
}

/* Vorgedruckte Textteile */
hi[rendition='#mPrint'] {
    -oxy-display-tags: none;
}

hi[rendition='#mPrint'],
p[rendition='#mPrint'],
address[rendition='#mPrint'] {
    font-family: "OtherFont", Helvetica, Arial, Sans;
    font-weight: bold;
}

hi[rendition='#in'] {
    font-size:150%;
    -oxy-display-tags: none;
}

hi[rendition='#smaller'] {
    font-size:smaller;
}

hi[rendition='#larger'] {
    font-size:larger;
}

/* Annotation */

abstract seg,
text seg {
    -oxy-display-tags: none;
}

abstract seg orig,
text seg orig {
    background-color: #E8E4D5;
    -oxy-display-tags: none;
}

abstract seg note,
text seg note,
text note[type="sachapparat"] {
    padding-left: 0.5em;
    font-family: "TextFont";
    font-style: italic;
    color: #423E2C;
    background-color: #D6D2C2;
    -oxy-placeholder-content: "[Sachanmerkung hier eingeben]";
    -oxy-display-tags: none;
}

text note[type="sachapparat"] {
    display: block;
    margin: 0 0 2em 0;
    padding: 0;
}

text seg[type="textapparat"] note {
    -oxy-placeholder-content: "[Textanmerkung hier eingeben]";
    -oxy-display-tags: none;
}

text anchor[type="sachapparat"] {
    display: block;
    content: "Sachanmerkung: Start des Bezugstextes";
    color: #423E2C;
    background-color: #D6D2C2;
    -oxy-display-tags: none;
}



/* Indexes */

abstract index,
text index {
    -oxy-display-tags: none;
    line-height: 0.8em;
}

abstract index:before,
text index:before {
    content: url('gfx/index_start.png');
}

abstract anchor[type="index"],
text anchor[type="index"] {
    -oxy-display-tags: none;
    line-height: 0.8em;
}

abstract anchor[type="index"]:after,
text anchor[type="index"]:after {
    content: url('gfx/index_end.png');
}

abstract index term,
text index term {
    display: none;
}

/* Names */

persName,
orgName,
bibl,
rs[type='person'],
rs[type='org'],
rs[type='bibl'],
rs[type='term'] {
    color: #465E7A;
    /* -oxy-display-tags: none; */
}

/* Places */

placeName,
bibl,
rs[type='place'],
rs[type='bibl'],
rs[type='term'] {
    color: #7A5E46;
    /* -oxy-display-tags: none; */
}

witness bibl {
    color: black;
}

witness bibl:after {
    display: none;
}

witness bibl[sameAs]:after {
    display: inline;
}

/* Dates */
text date {
    -oxy-display-tags: none;
}
/*
date[when]:hover:after {
    color: #ff8000;
    content: "[=" attr(when) "]";
}
date[from]:hover:after {
    color: #ff8000;
    content: "[=" attr(from)"–"attr(to) "]";
}
*/

msContents:before {
    content: "Inhalt: ";
    font-style: normal;
    font-weight: bold;
}
msContents {
    display: block;
}

/*  References */

text ref,
msContents note ref,
notesStmt note ref,
correspDesc note ref {
    -oxy-display-tags: none;
    border-bottom: 1px dashed #00C6FF;
}

text anchor[type="verweisziel"] {
    -oxy-display-tags: none;
}

text anchor[xml|id^="start"]:after {
    content: url('gfx/link_target_start.png');
}

text anchor[xml|id^="stop"]:before {
    content: url('gfx/link_target_stop.png');
}

facsimile {
    display: block;
    border-top: 1px solid silver;
    padding: 1em 0 1em 0;
}
facsimile:before {
    display: block;
    content: "Digitalisate";
    font-weight: bold;
}

address,
addrLine {
    display: block;
}

address:before {
    display: block;
    content: "Adresse:";
    font-style: italic;
}

addrLine {
    -oxy-placeholder-content: "[Adresszeile]";
}

/* Keywords */

profileDesc textClass:before {
    content: "Schlagwörter/Themen: ";
    font-style: normal;
    font-weight: normal;
}

profileDesc textClass keywords,
profileDesc textClass keywords term {
    -oxy-display-tags: none;
}

profileDesc textClass keywords term:after {
    content: " " url('gfx/link.png') ", ";
    link: oxy_url('${ediarum_website_base}', '${ediarum_website_path}${ediarum_website_keyword}') "?id=" attr(key);
}

profileDesc textClass keywords term:last-of-type:after {
    content: " " url('gfx/link.png');
    link: oxy_url('${ediarum_website_base}', '${ediarum_website_path}${ediarum_website_keyword}') "?id=" attr(key);
}

/* revisionDesc */

revisionDesc listChange:before{
    content: "Änderungen:";
    font-weight: bold;
}
revisionDesc listChange {
-oxy-foldable : true ;
-oxy-folded : true ;

}

revisionDesc change {
display : block ;
margin-top : 0.4em ;
margin-right : 0 ;
margin-bottom : 0 ;
margin-left : 0 ;
border-bottom-width : 1px ;
border-bottom-style : solid ;
border-bottom-color : rgb(127 , 157 , 185) ;
border-left-width : 1px ;
border-left-style : solid ;
border-left-color : rgb(127 , 157 , 185) ;
border-right-width : 1px ;
border-right-style : solid ;
border-right-color : rgb(127 , 157 , 185) ;
border-top-width : 1px ;
border-top-style : solid ;
border-top-color : rgb(127 , 157 , 185) ;
padding-top : 0.4em ;
padding-right : 0.4em ;
padding-left : 0.4em ;
padding-bottom : 0.4em ;
background-color : white ;
max-width : 50rem ;
-oxy-display-tags : none ;

line-height : 1.4 ;
-oxy-show-placeholder : always ;
-oxy-placeholder-content : "[Kommentar zur Änderung eingeben]" ;
}


revisionDesc[status='draft']:before {
    content:
    "Status: " url('gfx/status_draft.gif')
}

revisionDesc[status='final']:before {
    content:
    "Status: " url('gfx/status_final.gif')
}
revisionDesc {
    display: block;
    margin: 1em 0 0.5em 0;
    color : rgb(70 , 94 , 122) ;
}

revisionDesc:after {
    content: oxy_editor(type,button,actionID,revisionDesc);
}


revisionDesc listChange:before {
    display: block;
    margin: 1em 0 0.5em 0;
    font-family : "TextFont";
    font-style: normal;
    font-weight: bold;
    color : rgb(70 , 94 , 122) ;
    content: "Bearbeitungshistorie (ausklappbar)";
    margin: 0.5em 0 0 0;
}

revisionDesc listChange{
    -oxy-foldable: true;
	-oxy-folded: true;
}

revisionDesc change {
    -oxy-show-placeholder: always;
    -oxy-placeholder-content: "[Kommentar zur Änderung eingeben]";
}
revisionDesc change:before {
    content: oxy_editor(type,datePicker,edit,'@when',format,'yyyy-MM-dd');
}
revisionDesc change[who]:before {
    content: oxy_editor(type,datePicker,edit,'@when',format,'yyyy-MM-dd')
    " von " oxy_editor(type,text,edit,'@who',columns,10) " ";
}


/* Variantenapparat */
text app,
text app lem,
text app rdg,
text app rdg lacunaStart,
text app rdg witStart{
    -oxy-display-tags: none;
    }

text app lem{
    background-color: #ffeeff;
    color: black;
    -oxy-placeholder-content: "Lemma";

}

text app rdg:before{
    content: " ";
}

text app rdg{
    background-color: #e9ffc0;
    -oxy-placeholder-content: "Variante";
    -oxy-show-placeholder: always;
}

text app rdg[cause='omission'],
text app rdg[cause='erasion']{
    content: "["attr(cause)"] ";
    -oxy-placeholder-content: "";
    color:gray;
    font-size: 90%;
}

text app rdg:nth-child(2n){
    background-color: #eeeecf;
    border-bottom: 2px solid #99999f;
}

text app rdg:after{
    content: " (" oxy_xpath(oxy_concat("string-join(//listWit[@n='textWitnesses']/(witness[contains('",attr("wit"),"',@xml:id)]|listWit[contains('",attr("wit"),"',@xml:id)])//idno[@type='siglum']/string(), ', ')")) ") " " ";
}

text app rdg lacunaStart{
    content:"[...]";
}

text app rdg witStart{
    content: "†";
}

sourceDesc table row cell:nth-child(1) {
    -oxy-editable: false;
}

cell[xml|id="entwurf"], cell[xml|id=gedruckt], cell[xml|id=korrigiert],
row[xml|id="entwurf"] > cell:nth-child(2),
  row[xml|id=gedruckt] > cell:nth-child(2),
  row[xml|id=korrigiert] > cell:nth-child(2)
{
    content: oxy_checkbox(
        edit, "#text",
        values, "ja",
        uncheckedValues, "nein",
        labels, "");
}

cell[xml|id="ueberlieferungsform"],
row[xml|id="ueberlieferungsform"] > cell:nth-child(2)
{
    content: oxy_combobox(
            edit, "#text",
            editable, false,
            values, "Original, Kopie, Entwurf",
            labels, "Original (Normalfall), Kopie, Entwurf");
}

cell[xml|id="ueberlieferungsart"],
row[xml|id="ueberlieferungsart"] > cell:nth-child(2) {
    content: oxy_combobox(
            edit, "#text",
            editable, false,
            values, "Druck, Handschrift");
}

row[xml|id="schrifttraeger"] > cell:nth-child(2),
cell[xml|id="schrifttraeger"]
{
    content: oxy_combobox(
            edit, "#text",
            editable, true,
            values, "Pergament, Papier, Stein, Holz");
}

row[xml|id="probleme"] > cell:nth-child(2),
cell[xml|id="probleme"] {
    -oxy-placeholder-content: "Hier bitte NUR Schwierigkeiten mit Datierung und Benennung des Dokuments – alles andere in Anmerkungen!";
}

row[xml|id="umfang"] > cell:nth-child(2),
cell[xml|id="umfang"] {
    -oxy-placeholder-content: "Bitte ausfüllen, Umfang in Seiten";
}

row[xml|id="abmessungen"] > cell:nth-child(2),
cell[xml|id="abmessungen"]{
    -oxy-placeholder-content: "Bitte ausfüllen, Form: Breite × Höhe, z.B. 21cm × 29,7cm";
}

row[xml|id="dokTyp"] > cell:nth-child(2) item,
cell[xml|id="dokTyp"] item {
    content: oxy_combobox(
            edit, "#text",
            editable, true,
            values, "Korrespondenz\, privat, Korrespondenz\, geschäftlich, Korrespondenz\, amtlich, Notiz, Codex, Einzeldokument, Buch, Broschüre, Foto, Postkarte, mit Foto, Fotoplatten");
            visibility: -oxy-collapse-text;
}
row[xml|id="textsorte"] > cell:nth-child(2) item,
cell[xml|id="textsorte"] item {
    content: oxy_combobox(
            edit, "#text",
            editable, true,
            values, "Auszug aus Dokument, Brief, Testament, Ehevertrag, Lehnsbrief, (sonstiger) Vertrag, (sonstige) Urkunde, Protokoll, Rechnung, Rechnungsbuch, Tagebuch\, landwirtschaftlich, Tagebuch, Leichenpredigt, Gedicht, Erzählung, Kochbuch, Bericht, Abhandlung");
            visibility: -oxy-collapse-text;
}

text:before {
    font-weight: bold;
    content: "Schrift: " oxy_combobox(
        edit, "@rend",
        editable, false,
        values, "#aq, #f",
        labels, "Antiqua bzw. lateinische Schrift, Fraktur bzw. Kurrent");
}

text[rend="#f"]:before   {
    font-family: Fraktur;
}

langUsage:before {
    padding-top:1ex;
    content: "Sprachen (erste Sprache ist Haupt-Sprache des Dokuments): ";
    font-weight: bold;
    font-style: normal;
}

langUsage {
    display: block;
}

language {
    display:block;
    margin-left: 1em;
    -oxy-placeholder-content: oxy_concat("Sprache: ", attr("ident"));
    -oxy-editable: false;
}

*[xml|id="wortbedeutungen"] term:after,
*[xml|id="terms"] term:after {
    content: ": ";
    font-style: normal;
}

*[xml|id="wortbedeutungen"] term:empty,
*[xml|id="terms"] term:empty {
    content: "Terminus";
    font-weight: bold;
}

*[xml|id="wortbedeutungen"] term,
*[xml|id="terms"] term {
    background-color: #CCCCCC;
    -oxy-placeholder-content: "Terminus";
    font-style: normal;
}

teiHeader > item:empty {
    content: "TEXT";
    font-weight: bold;
    font-style: normal;
    background-color: #CCCCCC;
    -oxy-placeholder-content: "TEXT";
}

sourceDesc > table row > cell:nth-child(1) {
    font-style: normal;
    font-weight: bold;
}

author {
    display: block;
    -oxy-placeholder-content: "Hier VERFASSER eintragen.";
}

title[type="main"]{
    display: block;
    -oxy-placeholder-content: "Bitte ausfüllen: Dateiname ohne .pdf";
}

w {
    -oxy-display-tags: none;
}

s {
    -oxy-display-tags: none;
}

/* start CoReMa display */

ab abbrev {
    -oxy-display-tags: none;
}
am {
    -oxy-display-tags: none;
    background-color: pink;
}

ab hi {
    font-weight: bold;
    -oxy-display-tags: none;
}

abbr hi {
    font-weight: bold;
    color: darkorchid;
    -oxy-display-tags: none;
}

ingredient, instruction, dish, tool {
    link: oxy_url(oxy_concat("https://www.wikidata.org/wiki/",oxy_xpath("@commodity")));
}

ingredient[en]::after, instruction[en]::after, dish[en]::after, tool[en]::after {
    font-size: 85%;
    link: oxy_url(oxy_concat("https://www.wikidata.org/wiki/",oxy_xpath("@commodity")));
    content: oxy_concat(" [= ", oxy_xpath("@en"), "] ");
}


ingredient {
    background-color: lightcoral;
}
instruction {
    background-color: lightgreen;
}
dish {
    background-color: lightcyan;
}
tool {
    background-color: lightblue;
}

TEI[telota|doctype~="recipe"]        note,
TEI[telota|doctype~="recipe_corpus"] note{
    font-size: 85%;
}


TEI[telota|doctype~="recipe"]        note,
TEI[telota|doctype~="recipe_corpus"] note,
TEI[telota|doctype~="recipe"]        opener,
TEI[telota|doctype~="recipe_corpus"] opener,
TEI[telota|doctype~="recipe"]        closer,
TEI[telota|doctype~="recipe_corpus"] closer {
    display: block;
}

TEI[telota|doctype~="recipe"]        opener,
TEI[telota|doctype~="recipe_corpus"] opener {
    color: white;
    background-color: darkmagenta;
}
TEI[telota|doctype~="recipe"]        closer,
TEI[telota|doctype~="recipe_corpus"] closer {
    color: white;
    background-color: darkorange;
}
title {
    font-size: 111%;
    font-weight: bold;
    display: block;
    color: darkred;
}

msDesc::before {
    content: "Manuskript:";
    font-size: 85%;
    display: block;
}

msDesc, msName,
encodingDesc,
fileDesc,
country, institution, settlement {
    display: block;
}
origDate::before {
    content: "ursprg. Datum: ";
    font-size: 85%;
}
origPlace::before {
    content: "ursprg. Ort: ";
    font-size: 85%;
}

g {
    -oxy-display-tags: none;
    color: darkgray;
}
g:not(:empty):before(1) {
    content: "{";
    color: darkgray;
}
g:not(:empty):after(1) {
    content: "}";
    color: darkgray;
}

g:before(2) {
    color: black;
}
g:after(2) {
    color: black;
}
::Название::Вопрос {}::Название::Вопрос {}
